h1{

}

*{
	box-sizing: border-box;
}


body{
  font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	background-image: url("../img/backgroundImage1920x8310.png");
	/* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */

}

a{
	text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
}

.intro{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.background{
  position: absolute;
  z-index: -2


}

.dots{
  padding-top: 10rem;
  z-index: -1;
  width: auto;
	height: auto;

}

.nav{
  z-index: 15;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;


}

.nav a{

  text-decoration: none;
  color: black;
	padding-top: 2rem;
}

.content{
	padding-top: 20rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}
