h1{

}

*{
	box-sizing: border-box;
}


body{
  font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
  display: grid;

}

a{
	text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
}

.intro{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.background{
  position: absolute;
  z-index: -2

}

.dots{
  position: absolute;
  padding-top: 10rem;
  z-index: -1;
  max-width: 100%;
}

.candlelight{
  padding-top: 70rem;
}

nav{
  position: absolute;
  z-index: 15;

}

nav a{
  padding-left: 20rem;
  text-decoration: none;
  color: black;
}
